<div>
  <form #signInForm="ngForm" (ngSubmit)="onSignIn(signInForm)">
    <div ngModelGroup="userData" #userData="ngModelGroup">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" #email="ngModel" id="email" class="form-control" ngModel name="email" required email>
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" ngModel name="password" required>
      </div>
    </div>
    <p *ngIf="!userData.valid && userData.touched">The user information is invalid.</p>
    <button [disabled]="!signInForm.valid" class="btn btn-primary" type="submit">Sign In</button>
  </form>
</div>
